/* .prim {
    position: relative;
    padding: 10px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border: 1px solid black;
}

.tooltip {
    font-size: 48px;
    position: relative;
    border-bottom: 2px dotted red;
}

.tooltip::after {
    content: attr(span-tooltip);
    position: absolute;
    top: -75px;
    right: 275px;
    opacity: 10;
    transition: all .5s;
    background-color: blue;
    color: white;
    width: 300px;
    height: 75px;


}

.tooltip:hover::after {
    opacity: 1;
}

@media screen and (max-width: 920px) {
    .tooltip {
        font-size: 2.5rem;
    }

    .tooltip::after {
        content: attr(span-tooltip);
        position: absolute;
        top: -65px;
        right: 225px;
        height: 60px;
    }
}

@media screen and (max-width:800px) {
    .tooltip {
        font-size: 2rem;
    }

    .tooltip::after {
        content: attr(span-tooltip);
        position: absolute;
        top: -50px;
        right: 220px;
        width: 150px;
        height: 50px;
        padding-top: 5px;
    }
}

@media screen and (max-width:650px) {
    .tooltip {
        font-size: 1.5rem;
    }

    .tooltip::after {
        content: attr(span-tooltip);
        top: -40px;
        right: 155px;
        width: 125px;
        height: 35px;

    }
}

@media screen and (max-width:500px) {
    .tooltip::after {

        left: 154px;
    }
}

@media screen and (max-width:460px) {
    .tooltip::after {
        left: 154px;
        margin: 0 auto;
    }

    .tooltip {
        margin: 0 auto;
    }
}

@media screen and (max-width:457px) {
    .tooltip::after {
        left: 140px;
    }
}

@media screen and (max-width:427px) {
    .tooltip::after {
        top: -35px;
        left: 123px;
        font-size: 1.5rem;
        width: 100px;
        height: 30px;
        padding-top: 0;
    }
}

@media screen and (max-width:370px) {
    .tooltip::after {
        left: 92px;
        font-size: 1.3rem;


    }

} */

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    padding-bottom: 30px;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 20px;

}

.tooltip {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: bolder;
    border-radius: 8px;
    background-color: rgb(65, 85, 156);
    color: white;
    text-align: center;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    box-shadow: 3px 3px 3px rgb(159, 158, 158);
}

.tooltip::before {
    content: "Tooltip Top";
    font-size: 1.2rem;
    font-style: inherit;
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 10rem;
    padding: 5px 15px;
    box-shadow: 3px 3px 5px rgb(165, 165, 244);
    transform: translateX(-50%);
    left: 50%;
    display: none;
}

.tooltip::after {
    content: "";
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    display: none;
}

.tooltip-top::before {
    top: -42px;
    border-radius: 0 0 10px 10px;

}

.tooltip-top::after {
    border-top: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -13px;
}

.tooltip-left::before {
    content: "Tooltip Left";
    top: 1px;
    left: -110px;
    border-radius: 0 10px 10px 0;
}

.tooltip-left::after {
    border-left: 8px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -12px;
    top: 7px;
}

.tooltip-right::before {
    content: "Tooltip Right";
    top: 1px;
    left: 210px;
    border-radius: 10px 0 0 10px;
}

.tooltip-right::after {
    border-right: 8px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 7px;
    right: -85px;
}

.tooltip-bottom::before {
    content: "Tooltip Bottom";
    white-space: nowrap;
    bottom: -42px;
    border-radius: 10px 10px 0 0;
}

.tooltip-bottom::after {
    border-bottom: 10px solid rgb(0, 0, 0);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -13px;
}

.tooltip:hover::before,
.tooltip:hover:after {
    display: block;
}

.tooltip_p {
    position: relative;
    display: block;
    margin: auto;
    font-size: 1.4rem;
    font-weight: bolder;
    border-radius: 8px;
    background-color: rgb(65, 85, 156);
    color: white;
    text-align: center;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    box-shadow: 3px 3px 3px rgb(159, 158, 158);

}

.text_in_tooltip {
    background-color: black;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    white-space: nowrap;
    padding: 5px 10px;
    top: -70px;
    display: none;
    border-radius: 0 0 10px 10px;


}

.text_in_tooltip::after {
    content: "";
    position: absolute;
    border-top: 10px solid rgb(0, 0, 0);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 75px;
    top: 32px;

}

.tooltip_p:hover .text_in_tooltip {
    display: block;

}